In [641]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import yfinance as yf
from datetime import date
from datetime import datetime
from pandas_datareader import data
import pandas_datareader as web

In [642]:
today = date.today()

print("Today's date:", today)

Today's date: 2022-07-02

In [643]:
#stock = pd.read_csv("stock.csv", compression='gzip', sep = ";")

In [644]:
stock = pd.read_parquet('stocks.parquet', engine='pyarrow')

In [645]:
stock_bkp = stock.copy()

In [646]:
#stock.set_index('Date', inplace = True)

In [647]:
column_names = ["ticker", "pct"]

df = pd.DataFrame(columns = column_names)
df

Empty DataFrame
Columns: [ticker, pct]
Index: []

In [648]:
columns_to_be_deleted= []
for i in stock.columns:
    if "." in i:
        columns_to_be_deleted.append(i)

In [649]:
stock.drop(columns_to_be_deleted, axis = 1, inplace = True)

In [650]:
#replace null values with minimum values

In [651]:
stock_pct = []
stock_dat = pd.DataFrame(stock_pct)

for i in stock.columns[1:]:
    pct = round((stock[i].loc["2022-06-29"]/stock[i].loc["2017-06-30"]-1)*100, 2)
    df_temp = [i, pct]
    #pd.concat(df, df_temp)
    df_length = len(df)
    df.loc[df_length] = df_temp

In [652]:
df["coef"] = np.nan

In [653]:
stock_order = stock.reset_index()

In [654]:
for indice, i in df.iterrows():
    ticker = i["ticker"]
    
    x = stock_order.index.values.reshape(-1, 1)
    y = stock_order[ticker].values.reshape(-1, 1)
    x = np.nan_to_num(x)
    y = np.nan_to_num(y)

    reg = LinearRegression().fit(x, y)
    coef = round(float(reg.coef_*100), 2)
    #print(coef)
    df.loc[df.index[indice], 'coef'] = coef

In [687]:
df_order_perc = df.sort_values(by = ["pct"], ascending = [False]).reset_index()

In [705]:
df_order_perc[50:70]

    index       ticker      pct     coef
50   5715   Close_ARMC  1536.36     0.01
51   2324     Close_DQ  1517.77     0.40
52   4933  Close_BOVNF  1404.21     0.03
53   4812   Close_ZYXI  1352.00     0.11
54   5671   Close_AQUI  1333.33    -0.06
55   4373   Close_TAYO  1307.04     0.00
56   5513   Close_AMWK  1257.14     0.00
57   4581  Close_VDMRF  1254.24     0.00
58    374   Close_ATLC  1221.80    -0.09
59   5649   Close_APSI  1124.50     0.00
60   4690   Close_WCHS  1120.00     0.02
61   3342   Close_ERHE  1000.00    -0.48
62   4589  Close_VGREF   966.67     0.01
63   5489  Close_ALVOF   959.78     0.03
64   3707   Close_FCIC   958.82    -0.01
65    688   Close_LEAS   950.00 -1750.38
66   1196   Close_BOOT   928.11     0.64
67   3176   Close_VTNR   919.63    -0.45
68   5530  Close_AMNCB   900.83     0.00
69   4820   Close_ZULU   900.00    -0.00

In [696]:
df_order_perc[df_order_perc["ticker"] == "Close_GOOG"]

     index      ticker     pct   coef
416      3  Close_GOOG  147.06  23.24

In [634]:
df_order_perc[df_order_perc["ticker"] == "Close_IBM"]

        ticker   pct  coef
913  Close_IBM  19.2  0.72

In [636]:
###df_order_coef = df.sort_values(by = "coef", ascending = False)

In [587]:
df_order_coef[:20]

           ticker     pct       coef
757    Close_ASCK     NaN  253495.57
3912   Close_FDBL -100.00    5902.70
917   Close_BRK-A  242.54    3925.96
4121    Close_MWG     NaN    1359.36
58      Close_GAS     NaN    1351.70
1951    Close_NCT     NaN    1207.66
2382   Close_TNXP     NaN     937.42
3680    Close_FPT     NaN     788.54
2166   Close_NVIV     NaN     740.33
750    Close_CITY  -17.50     710.71
2147    Close_CLC     NaN     558.22
1492   Close_MCHB   90.57     430.55
851    Close_AYTU -100.00     328.48
2346    Close_TCB     NaN     300.70
670    Close_AVGR     NaN     237.86
1655    Close_EMC     NaN     212.17
2677    Close_DCM     NaN     195.32
1626    Close_PCL     NaN     191.27
231     Close_BSI     NaN     180.31
3600    Close_TTF     NaN     129.53

In [667]:
stock_bkp.reset_index(inplace = True)

In [704]:
stock.iloc[6865]["Close_DTST"], stock.iloc[6-(365*5)]["Close_DTST"]

(2.450000047683716, 0.019999999552965164)

In [681]:
stock_bkp.iloc[6869]["Close_GTKP"]/ stock_bkp.iloc[6869-(365*5)]["Close_GTKP"]

11.999999534338734